<!DOCTYPE html>
<html lang="en">
<head>
  <script type = "text/javascript" src="orderServiceHistory-model.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradie Trade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet" >
</head>
<body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:3000/">TradieTrades</a>
          <div class="collapse navbar-collapse navbar-nav mr-auto">
            <a href="index.html#about-trades" class="text-white nav-item nav-link">How We Work</a>
            <a href="#" class="text-white nav-item nav-link postServiceBtn">Post A Service</a>
          </div>
          <div class="my-2 my-lg-0 navbar-nav">
            <a href="http://localhost:3000/tradieDashboard.html" class="text-white nav-item nav-link active">My Dashboard</a>
            <a href="/users/logout" class="text-white nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
  </div>
  <div class="container mb-3">
    <h1>Work History</h1>
    <div>
      <div>
        <form action="/invoice/workHistory" method = "POST">
          <input type="text" id="query" name="query" placeholder="Search"/>
          <button type="submit" id="searchBtn" class="btn pay-btn" type="submit">Search</button>
          </form>
          </div>
      <table class="table table-bordered mt-2">
        <thead class="th">
          <tr>
            <th scope="col">InvoiceID</th>
            <th scope="col">Service Title</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Tradie ID</th>
            <th scope="col">Street Address</th>
            <th scope="col">Date of purchase</th>
            <th scope="col">Total Payment:</th>
          </tr>
        </thead>
        <tbody id="invoiceList" class="tbody">
          <%invoiceList.forEach(invoice => {%>
            <tr class="tr">
              <td><%=invoice.id %></td>
              <td><%=invoice.service_title %></td>
              <td><%=invoice.userID %></td>
              <td><%=invoice.tradieID %></td>
              <td><%=invoice.street_address %></td>
              <td><%=invoice.date %></td>
              <td><%=invoice.price * invoice.hours %></td>
            </tr>
          <%})%>
        </tbody>
      </table>
        </div>
      </div>
      <footer class="bg-dark">
        <p class="footer-p text-end text-light">&copy; 2022 ASD Group 6 <br>All Copyrights Reserved</p>
    </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>